

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}


.login-card {
  width: 100%;
  max-width: 1100px;
  height: 80vh;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
}

.form-side {
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-side h3 {
  font-weight: 700;
}

.form-side p a {
  font-weight: 500;
  text-decoration: none;
}

.form-side form {
  margin-top: 1rem;
}

.social-icons i {
  font-size: 1.5rem;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 24px;
  transition: all 0.3s ease;
}

.social-icons i:hover {
  background-color: #333;
  color: white;
}

.image-side {
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-illustration {
  max-width: 100%;
  height: auto;
}

.login-key-icon {
  font-size: 2rem;
  color: #333;
  position: absolute;
  top: 15%;
  right: 20%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
    height: auto;
  }

  .form-side,
  .image-side {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .login-key-icon {
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
  }

  .social-icons {
    justify-content: center;
    gap: 1rem;
  }
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #ccc;
  margin: 0 0.75rem;
}

.divider span {
  font-weight: 600;
  color: #333;
}
